@import url('reset.css');

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap");

:root {
	--accent: #DB4035;
	--priamry: #F3F3F3;
	--scorpion: #5A5A5A;
	--alto: #D8D8D8;
	--alabaster: #F7F7F7;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EA5959;
}

.wrapper{
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
}

.btn-close {
	position: relative;
	width: 30px;
	height: 30px;
	padding: 5px;
	color: #fff;
	cursor: pointer;
	border-radius: 6px;
	background-color: transparent;
	transition: background .2s ease-in-out;
}

.btn-close:hover {
	background-color: #d8d8d844;
}

.btn-close::before,
.btn-close::after {
	content: '';
	position: absolute;
	left: 1px;
	display: block;
	width: 90%;
	height: 1px;
	background-color: currentColor;
}

.btn-close::before {
	transform: rotate(-45deg);
}

.btn-close::after {
	transform: rotate(45deg);
}

.btn-cancel, .btn-save, .btn-delete {
	min-width: 75px;
	padding: 10px;
	border-radius: 5px;
	font-family: inherit;
	font-weight: 700;
	cursor: pointer;
	transition: background .1s ease-in-out;
}

.btn-cancel {
	background-color: #e3e2e2;
	color: var(--scorpion);
}

.btn-cancel:hover {
	background-color: #e3e2e284;
}

.btn-save, .btn-delete {
	color: #fff;
	background-color: var(--accent);
}

.btn-save:hover, .btn-delete:hover {
	background-color: #db4035d4;
}

.modal-del {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.modal-del.modal-del--open {
	opacity: 1;
	visibility: visible;
}

.modal-del__body {
	position: absolute;
	min-width: 460px;
	left: 55%;
	top: 15%;
	transform: translateX(-50%);
}

.modal-del__content {
	position: relative;
	padding: 80px 15px 15px;
	background-color: #fff;
	border-radius: 10px;
}

.modal-del__content::before {
	content: '';
	position: absolute;
	left: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background-image: url('../img/info.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.modal-del__wrap-btn {
	position: absolute;
	right: 10px;
	top: 10px;
}

.modal-del__close {
	color: var(--scorpion);
}

.modal-del__close::before,
.modal-del__close::after {
	left: 4px;
	width: 70%;
}

.modal-del__text {
	margin-bottom: 60px;
	color: var(--scorpion);
}

.modal-del__text span {
	color: #000;
	font-weight: 700;
}

.modal-del__actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 15px;
}

.todo {
	position: relative;
	border-radius: 8px;
	background: #FFF;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.todo__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
	margin-bottom: 2px;
	padding: 5px 20px;
	border-radius: 8px 8px 0 0;
	background-color: var(--alabaster);
}

.header-todo__button {
	position: relative;
	width: 34px;
	height: 30px;
	padding: 8px;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
	transition: background .2s ease-in-out;
}

.header-todo__button:hover {
	background-color: #e8e7e7;
}

.header-todo__button::before, .header-todo__button::after{
	content: '';
	position: absolute;
	left: 8px;
	width: 55%;
	height: 2px;
	background-color: var(--scorpion);
}

.header-todo__button::before {
	top: 8px;
}

.header-todo__button::after {
	top: calc(100% - 9px);
}

.header-todo__button span {
	position: absolute;
	left: 8px;
	top: 51%;
	transform: translateY(-50%);
	width: 55%;
	height: 1.8px;
	background-color: var(--scorpion);
}

.todo__body {
	display: flex;
	min-height: 600px;
	column-gap: 53px;
}

.todo__sidebar {
	max-width: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	padding: 35px 50px 50px 20px;
	background-color: var(--alabaster);
	border-radius: 0 0 0 8px;
	transition: opacity .3s ease-in-out, max-width .3s ease-in-out, visibility.3s ease-in-out;
}

.todo__sidebar--open {
	max-width: 350px;
	opacity: 1;
	visibility: visible;
}

.sidebar-todo__list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.sidebar-todo__button {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px 10px 38px;
	border-radius: 8px;
	background-color: transparent;
	color: #000;
	font-size: 22px;
	cursor: pointer;
	transition: background .2s ease-in-out;
}

.sidebar-todo__button::before {
	content: '';
	position: absolute;
	left: 4px;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: 28px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.sidebar-todo__button_inbox::before {
	background-image: url('../img/inbox.svg');
}

.sidebar-todo__button_completed::before {
	top: 48%;
	background-image: url('../img/completed.svg');
}

.sidebar-todo__button:hover {
	background-color: #e8e7e7;
}

.sidebar-todo__button--active {
	background-color: #e8e7e7;
	pointer-events: none;
}

.sidebar-todo__counter {
	margin-left: 8px;
	font-size: 14px;
	color: var(--scorpion);
}

.todo__content {
	display: none;
	padding: 30px 43px 30px 0;
	flex-grow: 1;
}

.todo__content--active {
	display: flex;
	flex-direction: column;
}

.todo__title {
	margin-bottom: 35px;
	color: #000;
	font-size: 31px;
	font-weight: 700;
}

.todo__form {
	display: flex;
	margin-bottom: 32px;
}

.form-todo__input {
	flex-grow: 1;
	margin-right: 16px;
	padding: 15px 27px;
	outline: none;
	border-radius: 8px;
	border: 2px solid var(--priamry);
	background-color: var(--priamry);
	font-family: 'Lato';
	font-size: 18px;
}

.form-todo__input:focus {
	border: 2px solid var(--accent);
}

.form-todo__input::placeholder {
	color: #B5B5B5;
}

.form-todo__add {
	padding: 10px 20px;
	border-radius: 30px;
	background-color: var(--accent);
	color: #fff;
	font-size: 26px;
	cursor: pointer;
}

.todo__tasks {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.todo__backdrop {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 40px;
	text-align: center;
}

.backdrop-todo__img {
	user-select: none;
	mix-blend-mode: multiply;
}

.backdrop-todo__title {
	margin-bottom: 15px;
	font-weight: 700;
}

.backdrop-todo__text {
	max-width: 260px;
	font-size: 16px;
	color: var(--scorpion);
	line-height: 1.3;
}

.todo__task {
	display: flex;
	align-items: center;
	min-height: 30px;
	cursor: default;
}

.todo__task--editing {
	flex-direction: column;
	align-items: stretch;
	row-gap: 10px;
	padding: 10px 0;
	border: 1px solid var(--alto);
	border-radius: 6px;
}

.todo__task:hover .todo__task-actions {
	display: flex;
}

.todo__checkbox {
	margin-right: 18px;
}

.todo__checkbox input {
	display: none;
}

.todo__checkbox:hover div::after {
	opacity: 1;
	visibility: visible;
}

.todo__checkbox input:checked + div {
	animation: .4s linear check-animation;
	animation-iteration-count: 1;
}

.todo__checkbox input:checked + div::after {
	animation: .4s ease-in-out check-animation;
	animation-iteration-count: 1;
}

.todo__checkbox div {
	--size: 20px;
	position: relative;
	width: var(--size);
	height: var(--size);
	border: 2px solid var(--accent);
	border-radius: 50%;
	cursor: pointer;
	background-color: #f121062d;
}

.todo__checkbox div::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/tick.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 16px;
	height: 16px;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.todo__task-text {
	margin-right: 10px;
	color: var(--scorpion);
}

.todo__task-input {
	padding: 0 10px;
	font-family: inherit;
	font-size: inherit;
	color: var(--scorpion);
	background-color: transparent;
	outline: none;
}

.todo__task-actions {
	display: none;
	column-gap: 10px;
	margin-left: auto;
}

.todo__task-actions--editing {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 10px;
	border-top: 1px solid var(--alto);
	font-family: 'Lato', sans-serif;
}

.todo__task-delete, .todo__task-edit {
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

.todo__completed {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	flex-grow: 1;
}

.completed-todo__task {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--alto);
}

.completed-todo__date {
	display: block;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--alto);
	font-weight: 700;
}

.completed-todo__body {
	position: relative;
	padding-left: 20px;
}

.completed-todo__body::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background-image: url('../img/tick-round.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.completed-todo__text {
	margin-bottom: 8px;
}

.completed-todo__text span {
	color: var(--scorpion);
}

.completed-todo__time {
	display: inline-block;
	font-size: 14px;
	color: var(--scorpion);
}

.notification__content {
	position: absolute;
	left: 20px;
	bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 270px;
	width: 100%;
	padding: 15px 20px;
	border-radius: 15px;
	background-color: #414040;
	animation: .4s linear move-up;
	animation-iteration-count: 1;
}

.notification__caption {
	margin-right: 15px;
	color: #fff;
}

@keyframes move-up {
	from {
		bottom: -50px;
		opacity: 0;
	} to {
		bottom: 20px;
		opacity: 1;
	}
}

@keyframes check-animation {
	from {
		transform: scale(1.3);
	} to {
		transform: scale(1);
	}
}