body {
  height: 100%;
  background-color: #ea5959;
  font-family: $fontMain;
  font-size: $fontSize;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
}
